# App
APP_NAME=jsr-pix-withdrawal
APP_ENV=dev

# Docker (run: id -u && id -g to get your UID/GID)
APP_UID=1000
APP_GID=1000

# Database
DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=jsr_pix_withdrawal
DB_USERNAME=root
DB_PASSWORD=root
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# Redis
REDIS_HOST=redis
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# Mail (Mailhog)
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_FROM=noreply@jsr-pix.com

# Tracing (OpenTelemetry - Jaeger)
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318/v1/traces
TRACER_DRIVER=otel
TRACER_ENABLE_GUZZLE=true
TRACER_ENABLE_REDIS=true
TRACER_ENABLE_DB=true

# Idempotency
IDEMPOTENCY_TTL=86400